<section class="hero">
  <div class="container hero-container">
    <div class="top-part">
      <div class="hero-text">
        <span class="greeting-span">&#10022;</span>
        <p class="hero-descr">Front-end Developer</p>
        <h1 class="greeting">YULIA LEVECHKO</h1>
      </div>
      <img src="./images/me-min.jpg" alt="my photo" class="hero-img" />
    </div>
    <p class="welcome-descr">
      Welcome to my personal portfolio website! This is where you can discover
      my work and learn more about me as a professional creative expert. Feel
      free to explore my projects and share your thoughts. I am always open to
      collaboration and new opportunities, so feel free to get in touch with me
      for further communication. I'm glad to see you here!
    </p>
  </div>
</section>
