section {
    /* position: relative;
        width: 100%;
        background-image: url(../images/removebg-preview.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat; */
}
.hero {
    padding: 15px 0;
}
.hero-container {
    /* height: 500px; */
    display: flex;
    padding: 0 15px;
    flex-direction: column;
    gap: 300px;
    /* background-image: url(../images/hero-bg-min.png);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: top; */
    /* background-size: 70%; 1280px */

        /* position: relative;
            width: 100%;
            background-image: url(../images/removebg-preview.png);
            background-size: cover;
            background-position-y: bottom;
            background-repeat: no-repeat; */
}
.top-part {
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.greeting-span {}

.hero-descr {}

.greeting {}

.welcome-descr {}
/* -------------------------MEDIA------------------------------- */
@media screen and (min-width: 375px) {
    
}
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

}
@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}